.feature-item {
  box-sizing: border-box;

  &:not(:first-child) {
    margin-left: 30px;
  }
  &:nth-child(4n) {
    margin-right: 0;
  }
  &::before {
    display: block;
    justify-content: center;
    align-items: center;
    content: "";
    height: 120px;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: $feature-item-svg-bckgrnd;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.icon-1::before {
  background-image: url(../svg/Sattelite.svg);
}

.icon-2::before {
  background-image: url(../svg/clock.svg);
}

.icon-3::before {
  background-image: url(../svg/planning.svg);
}

.icon-4::before {
  background-image: url(../svg/Spaceman.svg);
}

.feature-section {
  padding-top: 94px;
  padding-bottom: 47px;
}

.feature-list {
  display: flex;
  width: auto;
}

.feature-item {
  width: calc((100% - 90px) / 4);
}

element .feature-item {
  width: 270px;
}

.feature-item-title {
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: $title;
}

.feature-item-text {
  line-height: 1.71;
  color: $text;
}
