.our-clients-section {
  padding-top: 94px;
}

.our-clients-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: $title;
  padding-bottom: 50px;
}

.our-clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.our-clients-list-item {
  display: flex;
}

.our-clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border-radius: 4px;
  border: 1px solid $icon-color;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $logo-web;
  }
}

.our-clients-list-icon {
  fill: $icon-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-list-item:not(:last-child) {
  margin-right: 30px;
}

.our-clients-list-link:hover .our-clients-list-icon,
.our-clients-list-link:focus .our-clients-list-icon {
  fill: $logo-web;
}
