.subscribe-container {
  margin-left: 93px;
}

.subscribe-heading {
  margin-top: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white;
}

.subscribe-form {
  display: flex;
  justify-content: center;

  .subscribe-email {
    display: inline-block;
    margin-top: 20px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: $hero-bckgr;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    color: rgba(255, 255, 255, 0.6);
    outline: none;
  }
}

.subscribe-email:valid {
  color: green;
}

.subscribe-email:invalid {
  color: red;
}

.subscribe-email:focus-within {
  border-color: rgba(184, 184, 196, 0.987);
}

.subscribe-button {
  margin-left: 12px;
  margin-top: 20px;
  min-width: 200px;
  border-radius: 4px;
  text-align: center;
  align-items: center;
  background-color: $logo-web;
  border: 0px;
  padding-right: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $white;
}

.subscribe-button-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  fill: $white;
  margin-left: 10px;
  align-items: center;
}
