.logo-footer {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: $white;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;

  .adress {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $white;
    font-style: normal;
  }

  .contacts-list li {
    margin-bottom: 9px;
    list-style: none;
  }

  .list {
    padding: 0;
  }

  .mailtel {
    font-style: normal;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
  }
}

.contacts-list {
  margin-top: 20px;
}

.footer-container {
  display: flex;
}

.footer-social-links-container {
  margin-left: 70px;
}
